html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #ccffff;
}

#contents {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: white;
}

#version-info {
  color: #bbbbbb;
  font-weight: bold;
  font-size: 0.9rem;
}

.left {
  text-align: left;
}

h1 {
  margin: 0;
  background-color: pink;
  font-size: 18px;
}

h2 {
  margin: 0;
  background-color: skyblue;
  font-size: 18px;
}

svg {
  user-select: none;
}

div.inner {
  margin: 5px;
}

div.pink {
  margin-bottom: 5px;
  border: solid 3px pink;
}

div.skyblue {
  margin-bottom: 5px;
  border: solid 3px skyblue;
}
