@charset "UTF-8";

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #ccffff;
}

#contents {
  max-width: 500px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

#version-info {
  font-size: 0.9rem;
  font-weight: bold;
  color: #bbbbbb;
}

.left {
  text-align: left;
}

h1,
h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000055;
  background-color: #c0cbff;
}

svg {
  user-select: none;
}

div.inner {
  margin: 5px;
}
